@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oxygen:wght@300;400;700&display=swap');
:root{
    --pf : "Newsreader", serif;
    --sf:"Oxygen", sans-serif;
    --tf:"Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-fluid {
    max-width: 1320px;
    margin: auto
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
   
}
section.top-search {
    padding: 20px;
}
.header-wrapper{
    border-bottom: 1px solid #eee;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

li.navlink a {
    font-family: Newsreader;
    font-size: 19px;
    color: #000;
    font-weight: 500;
}

.nav-login{
    background: #2a2a2a;
    border: none;
    border-radius: 4px;
    color: #fff;
    height: 31px;
    justify-content: center !important;
    max-width: 76px;
    min-height: 31px;
    min-width: 76px;
    font-family: Newsreader;
    transition: background .2s ease-in-out;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.nav-btn{
    background-color: initial;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #161a1d !important;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    padding: 4px 16px;
}
.ts-r{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}

.ts-list {
    background: #e0570c1a;
    border: 1px solid  #e0570c;
    border-radius: 18px;
    color: #2a2a2a !important;
    font-size: 14px;
    padding: 6px 22px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}
.ts-list a {
    width: 100%;
    font-family: var(--tf);
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
}
.top-search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ts-l{
    width: 10%;
}
.ts-l h3{
font-size: 20px;
font-family: var(--pf);
}
.ts-r{
    width: 90%;
}

.lf-l {
    width: 75%;
}
.lf-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.lf-l h4{
    font-size: 18px;
    font-family: var(--pf);
    font-weight: 500;
    line-height: normal;
    padding-bottom: 15px;
    color: #000;
}
.lf-news-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
}
.lf-l {
    width: 75%;
    border-top: 1px solid #000;
    margin-top: 30px;
    display: inline-block;
}
.lf-r {
    width: 25%;
    border-top: 1px solid #000;
    margin-top: 30px;
    display: inline-block;
}
.lf-list {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.lf-l h4 svg {
    fill: var(--orange-color);
    animation: sizetoggle 2s infinite;
    -webkit-animation: sizetoggle 2s infinite;
    font-size: var(--live-btn-lg-svg);
    margin-top: 2px;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
@keyframes sizetoggle {
    0% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    50% {
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7)
    }

    to {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1)
    }
}

.lf-l h4 svg{
    fill:#e0570c ;
}
.lf-l h4 span {
    color: #e0570c;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    font-family: 'Newsreader';
}


.headeing {
    font-family: Newsreader;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 400;
}
a.lf-img {
    height: 234px;
    display: block;
    border-radius: 1rem;
}
a.lf-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.lfr-list {
    display: flex;
    align-items: flex-start;
    /* gap: 20px; */
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.lfr-r h4 {
    font-size: 14px;
    font-family: var(--pf);
    font-weight: 500;
    line-height: 15px;
}
.lfr-l {
    flex-basis: 30%;
}
.lfr-r {
    flex-basis: 70%;
}
.lfr-r h4 {
    font-size: 16px;
    font-family: var(--pf);
    font-weight: 500;
    line-height: 18px;
}
.lfr-img {
    height: 49px;
    border-radius: 1rem;
}
.lfr-img img {
    border-radius: .5rem;
}

.lfr-r h4{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #2a2a2a;
    display: -webkit-box;
    font: 16;
    font-family: var(--pf);
    overflow: hidden;
    width: calc(100% - 10px);
}
.pub-data{
    color: #7a7a7a;
    margin-top: 10px;
}
.section-left{
    width: 75%;
    border-top: 1px solid #000;
    margin-top: 30px;
    display: inline-block;
}

.sectwo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: auto;
}
.sectytwo-list {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}
.sectytwo-list .sectwo-l{flex-basis: 70%;}
.sectytwo-list .sectwo-r{flex-basis: 30%;}

.sectytwo-list h4 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #2a2a2a;
    display: -webkit-box;
    font-size: 16px;
    overflow: hidden;
    font-family: 'Newsreader';
    width: calc(100% - 10px);
    line-height: 18px;
    font-weight: 600;
}
.sectwo-img img{border-radius: 8px;}

.sectwo-img-t {
    height: 200px;
    padding-bottom: 20px;
}
.sectwo-img-t img {
    display: block;
    object-fit: unset;
    border-radius: 8px;
}
.sectytwo-list-t {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.sectionthree-list-l{
    width: 75%;
    border-top: 1px solid #000;
    margin-top: 30px;
    display: inline-block;
}

.section-three-wrapper .secthreecontent:nth-child(1) {
    grid-row-end: 5;
    grid-row-start: 1;
}
.secthreecontent {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.secthreecontent h4 {
    font-size: 17px;
    line-height: 20px;
    font-family: var(--pf);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #2a2a2a;
    display: -webkit-box;
    font-size: 16px;
    overflow: hidden;
    width: calc(100% - 10px);
    line-height: 18px;
    font-weight: 600;
}

.secthree-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}
.secthree-img img{
    border-radius: 8px;
}

.section-four-wrapper .secthreecontent:nth-child(4) {
    grid-row-end: 5;
    grid-row-start: 1;
    grid-column-start: 2;
}
